---
layout: index_w
title: Andrwyw
---

<div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
    {% assign post_categories_w = post.categories %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a>    
    {% include codepiano/post_categories_info_w %}
    </li>
    {% endfor %}
  </ul>

  <h1>Highlighted Media</h1>
  <ul class="posts">
    <li><span>02 Oct 2014</span> &raquo; <a href="/">Article: Out of the confort zone</a></li>
  </ul>

  <h1>Prominent Open Source Projects</h1>
  <ul class="posts">
    <li><a href="/">AwesomeCircleProgress:</a> A simple progress view.</li>
  </ul>
</div>
